@page
@model SU22_PRN221.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutStaff.cshtml";
}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Product Manage </h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Product</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <div class="ecommerce-widget">


                <div class="row">
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- recent orders  -->
                    <!-- ============================================================== -->
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header">Product</h5>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <a href="#addProductMethod" class="btn btn-success" data-toggle="modal"><i class="material-icons"></i><span>Add New Product</span></a>
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">#</th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Product[0].ProductName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Product[0].Description)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Product[0].Price)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Product[0].ImagePath)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Product[0].IsActive)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Product[0].CreatedDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Product[0].Category)
                                                </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Product)
                                            {
                                                <tr>
                                                    <td>@item.CategoryId</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.ProductName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Price)
                                                    </td>
                                                    <td>
                                                        <img src="@item.ImagePath" style="height : 300px; width : 300px;">
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.IsActive)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                                    </td>
                                                    <td>
                                                        <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                                                        <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                                                        <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                                                        
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end recent orders  -->

                </div>

            </div>
        </div>
    </div>

</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->



<!-- Add Modal Html -->
           <div class="container">
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form">
     - Insert New Product -
  </button>  
</div>

<div class="modal fade" id="addProductMethod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Create Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" asp-page="Index" asp-page-handler="Create" enctype="multipart/form-data">
        <div class="modal-body">
          <div class="form-group">
            <label for="email1">Product Name</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Product Name" name="ProductName" required>
          </div>
         
          <div class="form-group">
            <label for="password1">Price</label>
            <input type="number" class="form-control" name="Price" placeholder="Prices">
          </div>

          <div class="form-group">
            <label for="password1">Description</label>
            <input type="text" class="form-control" name="Description" placeholder="Description">
          </div>

          <div class="form-group">
            <label for="password1">Image</label>
            <input type="file" class="form-control" name="image" placeholder="Description">
          </div>

          <div class="form-group">
            <label for="password1">Category</label>
            <input type="number" name="CategoryId" class="form-control"> 
          </div>

        <div class="modal-footer border-top-0 d-flex justify-content-center">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Modal Html -->


