@page
@model SU22_PRN221.Pages.Carts.IndexModel
@{
}


<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.css"
      rel="stylesheet" />

<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                @{
                    decimal total = 0;
                }
                @if (Model.cart != null)
                {
                    @foreach (var item in Model.cart)
                    {
                        total += item.Product.Price * item.Quantity;
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h5 class="mb-0">Cart item(s)</h5>
                            </div>
                            <div class="card-body">
                                <!-- Single item -->
                                <div class="row">
                                    <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                                        <!-- Image -->
                                        <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                                            <img src="@item.Product.ImagePath"
                                         class="w-100" alt="" />
                                            <a href="#!">
                                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                                            </a>
                                        </div>
                                        <!-- Image -->
                                    </div>

                                    <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                                        <!-- Data -->
                                        <p><strong>@item.Product.ProductName</strong></p>
                                        <p>Description: @item.Product.Description</p>
                                        @*<button type="button" class="btn btn-primary btn-sm me-1 mb-2" data-mdb-toggle="tooltip" title="Remove item"><i class="fas fa-trash"></i></button>*@
                                        <a class="btn btn-primary btn-sm me-1 mb-2" width="30px" asp-page="/Carts/Index" asp-page-handler="delete" asp-route-id="@item.Product.ProductId">"><i class="fas fa-trash"></i></a>
                                        <!-- Data -->
                                    </div>

                                    <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                        <!-- Quantity -->
                                        <div class="d-flex mb-4" style="max-width: 300px">
                                            @*<button class="btn btn-primary px-3 me-2"asp-page="/Carts/Index" asp-page-handler="increase" asp-route-id="@item.Product.ProductId">
                                    <i class="fas fa-minus"></i>
                                    </button>*@
                                            <a class="btn btn-primary px-3 me-2" width="30px" asp-page="/Carts/Index" asp-page-handler="decrease" asp-route-id="@item.Product.ProductId"><i class="fas fa-minus"></i></a>
                                            <div class="form-outline">
                                                @item.Quantity
                                            </div>
                                            <a class="btn btn-primary px-3 ms-2" width="30px" asp-page="/Carts/Index" asp-page-handler="increase" asp-route-id="@item.Product.ProductId"><i class="fas fa-plus"></i></a>

                                            @*<button class="btn btn-primary px-3 ms-2" asp-page="/Carts/Index" asp-page-handler="decrease" asp-route-id="@item.Product.ProductId">
                                    <i class="fas fa-plus"></i>
                                    </button>*@
                                        </div>
                                        <!-- Quantity -->
                                        <!-- Price -->
                                        <p class="text-start text-md-center">
                                            <strong>$@item.Product.Price</strong>
                                        </p>
                                        <!-- Price -->
                                    </div>
                                </div>
                                <!-- Single item -->
                                <hr class="my-4" />
                            </div>
                        </div>
                    }
                }
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body">
                        <p><strong>We accept</strong></p>
                        <img class="me-2" width="45"
                             src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                             alt="Visa" />
                        <img class="me-2" width="45"
                             src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                             alt="American Express" />
                        <img class="me-2" width="45"
                             src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                             alt="Mastercard" />
                        <img class="me-2" width="45"
                             src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp"
                             alt="PayPal acceptance mark" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Summary</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Products
                                <span>@total</span>
                            </li>
                            @if (Model.cart == null)
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping
                                    <span>$0.0000</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Total amount</strong>
                                        <strong>
                                            <span class="mb-0">(including VAT)</span>
                                        </strong>
                                    </div>
                                    <span><strong>total</strong></span>
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    Shipping
                                    <span>$20000.0000</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Total amount</strong>
                                        <strong>
                                            <span class="mb-0">(including VAT)</span>
                                        </strong>
                                    </div>
                                    <span><strong>@(total + 20000)</strong></span>
                                </li>
                            }
                        </ul>
                       @if (Model.cart != null)
                        {
                            <a type="button" class="btn btn-primary btn-lg btn-block" asp-page="/Payment/Index" asp-page-handler="Payment">
                                Go to checkout
                            </a>
                        }
                        <a asp-page="/Home/Index">Back to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>