@page
@model SU22_PRN221.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutStaff.cshtml";
}

<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Category Manage </h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Category</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <div class="ecommerce-widget">
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- recent orders  -->
                    <!-- ============================================================== -->
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header">Category</h5>

                            <div class="card-body p-0">
                                <form asp-page-handler="SearchDate" method="post">
                                    From Date :<input type="date" name="startdate" />
                                    To Date :<input type="date" name="enddate" />
                                    <input type="submit" value="Search" class="btn btn-success" />
                                    <a asp-page="Index">Get All Records</a>

                                </form>
                                <div class="table-responsive">
                                    <a href="#addCategoryMethod" class="btn btn-success" data-toggle="modal"><i class="material-icons"></i><span>Add New</span></a>
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">#</th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Category[0].CategoryName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Category[0].IsActive)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Category[0].CreatedDate)
                                                </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Category)
                                            {
                                                <tr>
                                                    <td>@item.CategoryId</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.IsActive)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                                    </td>

                                                    <td>

                                                        <a href="#editCategoryMethod" class="edit" data-toggle="modal">Edit</a> |
                                                        <a href="#deleteCategoryMethod" class="delete" data-toggle="modal">Delete</a>
                                                        <input type="hidden" name="id" id="id" asp-for="@item.CategoryId">

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end recent orders  -->

                </div>

            </div>
        </div>
    </div>
</div>
<!-- Add Modal Html -->



<div class="modal fade" id="addCategoryMethod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">Create Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-page="Index" asp-page-handler="Create">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email1">Category Name</label>
                        <input type="text" class="form-control" name="categoryName" required pplaceholder="Category Name" />
                    </div>



                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editCategoryMethod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-page="Index" asp-page-handler="Update">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email1">Category Name</label>
                        <input type="text" class="form-control" name="categoryName" required pplaceholder="Category Name" />
                    </div>
                    <div class="modal-footer border-top-0 d-flex justify-content-center">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
                        <input type="submit" class="btn btn-success" value="Edit" />
                        <input type="hidden" name="id" id="id" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="deleteCategoryMethod" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page="Index" asp-page-handler="Delete">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Category</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-body">
                        <p>Are you want to delete these record ?</p>
                        <p class="text-warning"><small>This action cannot be undone</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel" />
                        <input type="submit" class="btn btn-danger" value="Delete" />
                        <input type="hidden" name="id" id="id" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
<script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();

        $('table .delete').on('click', function() {
            var id = $(this).parent().find('#id').val();
            $('#deleteCategoryMethod #id').val(id);
        });

    });

    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();

        $('table .edit').on('click', function() {
            var id = $(this).parent().find('#id').val();
            $.ajax({
                type: 'GET',
                data: { id: id },
                url: '@Url.Page("Index","Find")',
                success: function(result) {
                    $('#editCategoryMethod #id').val(id)
                    $('#editCategoryMethod #categoryName').val(result.categoryName);
                }
            })
        });

    });
</script>