@page
@model SU22_PRN221.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutStaff.cshtml";
}

<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Category Manage </h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Category</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <div class="ecommerce-widget">


                <div class="row">
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- recent orders  -->
                    <!-- ============================================================== -->
                    <div class="col-12">
                        <div class="card">
                            <h5 class="card-header">Category</h5>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">#</th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Category[0].CategoryName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Category[0].IsActive)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Category[0].CreatedDate)
                                                </th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Category)
                                            {
                                                <tr>
                                                    <td>@item.CategoryId</td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.IsActive)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                                    </td>
                                            
                                                    <td>
                                                        <a asp-page="./Edit" asp-route-id="@item.CategoryId">Edit</a> |
                                                        <a asp-page="./Details" asp-route-id="@item.CategoryId">Details</a> |
                                                        <a asp-page="./Delete" asp-route-id="@item.CategoryId">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end recent orders  -->

                </div>

            </div>
        </div>
    </div>
    
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
